.popup__new-task-form {
    margin: 130px auto 0 auto;
    padding: 25px 0 0 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    height: 605px;
    background: #ffffff;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 19%);
    border-radius: 3px;
    outline-style: none;
    font-family: "Inter", sans-serif;
    z-index: 5;
}