.popup {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  z-index: 3;
  backdrop-filter: blur(12px);
  opacity: 0;
  transition: opacity 200ms, visibility 0s 200ms;
  -webkit-transition: opacity 200ms, visibility 0s 200ms;
  -moz-transition: opacity 200ms, visibility 0s 200ms;
  -ms-transition: opacity 200ms, visibility 0s 200ms;
  -o-transition: opacity 200ms, visibility 0s 200ms;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
