.header__add-button {
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  /* height: 50px; */
  padding: 11px;
  /* padding-left: 22px; */
  outline-style: none;
  border: none;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.14;
  color: #221738;
  text-align: center;
}

.header__add-button:hover {
  cursor: pointer;
  opacity: .5;
}

@media (max-width: 360px) {
  .header__add-button {
    font-size: 18px;
    padding:8px;
  }
}
