.tasked-day {
  position: relative;
}

.tasked-day::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;

  width: 7px;
  height: 7px;

  background-color: #00ffd7;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
