.popup-event-preview__label {
  display: inline-block;
  margin-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  text-align: justify;
  color: #050505;
}