.task-cards__container {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 310px;
    list-style: none;
    /* overflow: auto; */
}

@media (max-width: 360px) {
  .task-cards__container {
    width: 285px;
  }
}
