.calendar__date_active {
  border-radius: 50%;
  /* background-color: rgba(102, 112, 255, 1); */
  /* border: 2px solid white; */
  background-image: url(../../../../images/circle-white.svg);
  background-repeat: no-repeat;
  background-size: 34px 34px;
  background-position: -3px -3px;
}
