.task-cards {
  background-color: #9637d6ad;
  margin: 0 auto;
  /* padding: 20px 0 25px 0; */
  padding-top: 15px;
  padding-bottom: 35px;
  box-sizing: border-box;
  height: 310px;
  /* width: 375px; */
  display: flex;
  overflow-y: scroll;
  flex-direction: column;


  display: none;
  visibility: hidden;
  opacity: 0;
}
