.calendar-controls__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  margin-bottom: 16px;
}

.calendar-controls__row:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 360px) {
  .calendar-controls__row {
    margin-bottom: 14px;
  }
}

