.popup__label {
    margin: 0 auto 10px auto;
    padding: 0;
    box-sizing: border-box;
    width: 90%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    text-align: justify;
    color: #050505;
}