.current-month {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */
  text-align: justify;
  cursor: pointer;
  color: #FFFFFF;
}

.current-month:hover {
  text-decoration: underline;
  opacity: 0.7;
}