.popup-event-preview {
  display: flex;
  position: fixed;
  justify-content: center;
  font-family: 'Inter', 'Arial', sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 150px 0 0 0;
  box-sizing: border-box;
  z-index: 3;
  background: rgba(77, 77, 77, 0.52);
}