.header__title {
  margin: 0 auto;
  padding-top: 30px;
  /* padding: 0 0 19px 0; */
  margin-bottom: 20px;
  box-sizing: border-box;
  /* width: 75%; */
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
}

@media (max-width: 360px) {
  .header__title {
    padding-top: 26px;
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: 500;
  }
}
